.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-top:20px;
  position: relative;

  .title {
    font-size: 28px;
    width: 300px;
    text-align: center;
    margin: 0 auto 25px;
    border-bottom: double 3px;
    font-weight: 500;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}