//My CSS style here

.prodDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftSide {
  .imgdiv {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
  }
}

.prod-variant {
  p {
    line-height: 0.25rem;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: left;
  }
}

.prod-ratings {
  color: rgb(221, 20, 221);
}

.rightItem {
  width: 100%;
  height: 250px;
  padding: 50px 5px;

  .pin-code-style{
    
    border-color: rgb(255, 0, 0) !important;
    
    // &:focus{
    //   border-color: rgb(255, 0, 0) !important;
    // }
  }

  .flavour-form{
      width: 300px;
      border: none;
      padding: 5px 3px;
      margin-bottom: 10px;
  }

  .delivery-location {
    position: relative;
    width: 300px;
    display: flex;
    align-items: center;
    .pincode-input {
      width: 300px;
      padding: 10px 5px;
    }
  }
 
   .add-to-cart{
       background-color: rgb(221, 20, 221);
       color: #fff;
       width: 100%;
       display: flex;
      justify-content: center;
      margin-top: 5px;
     .cart-span{
       margin-right: 10px;
       font-size: 1.5rem;
     }
   .icon-add-cart{
     font-size: 1.5rem;
  margin-top: 5px;
   }
   }


}

.rightItem-Card {
  display: flex;

  @media (max-width:768px){
    flex-direction: column;
  }
}

.prod-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  span {
    margin-left: 15px;
  }
}

.product-card-body {
  height: fit-content;
  padding: 3px 5px;
}

.border-none {
  input {
    outline: none;
    border: none;
    &:focus {
      outline: none;
    }
  }
}

.btn.pincode-button {
  margin-left: 15px;
  background-color: rgb(255, 0, 149);
  color: aliceblue;
  position: absolute;

  right: 4px;
  padding: 4px 20px;
  font-size: 20px;
}

.pincode-text {
  display: none;
  margin: 5px;
  color: rgb(81, 185, 40);
  position: absolute;

  right: 6px;
  font-size: 20px;
}

.variant {
  font-size: 1.5rem;
  font-weight: 400;
}

.prod-attributes {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  list-style-type: circle;
}
